---
interface Props {
  name: string;
  placeholder?: string;
  label: string;
  type: "text" | "email" | "textarea";
}

const { label, name, placeholder, type = "text" } = Astro.props;
---

<div class="gm_contact-input">
  <label for={name}>{label}</label>
  {
    type !== "textarea" ? (
      <input type={type} placeholder={placeholder} name={name} required />
    ) : (
      <textarea placeholder={placeholder} name={name} />
    )
  }
</div>

<style>
  .gm_contact-input {
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 2.5px;
      background: var(--gm-primary);
      position: absolute;
      bottom: 0;
      border-radius: 99px;
    }

    &::before {
      content: "";
      width: 0%;
      height: 2.5px;
      background: var(--gm-accent);
      position: absolute;
      bottom: 0;
      z-index: 2;
      transition: width 400ms ease-in-out;
      border-radius: 99px;
    }

    &:focus-within::before {
      width: 100%;
    }

    label {
      font-size: 0.8rem;
      font-weight: 600;
      transition: transform 150ms linear;
      text-transform: uppercase;
    }

    input,
    textarea {
      font-size: 1.2rem;
      font-weight: 400;
      width: 100%;
      position: relative;
      z-index: 2;
      padding: 0.4rem 0;
      text-transform: uppercase;
      font-weight: 600;
    }

    textarea {
      resize: none;
      min-height: 6.5rem;
    }
  }
</style>
